/* USED IN STEPS 1 TO 7 OF TUTORIAL - DELETE THIS LINE AND LINE 9 TO TURN BACK ON
.black {
    background-color: black;
}

.white {

}
  */

/* Step 8 */

#orb {
    height: 300px;
    width: 300px;
    border-radius: 100%;
    padding: 20px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

#sky {
    height: 100vh;
    width: 100vw;
}

.sun {
    background-color: #ffdd00;
    border: 10px solid #f1c40f;
}

.moon {
    background-color: #bdc3c7;
    border: 10px solid #eaeff2;
}

.night {
    background-color: #2c3e50;
}

.day {
    background-color: #37d8e6;
}

/* Step 10 */
 .sun:hover {
    border: 20px solid #f1c40f;
}

.moon:hover {
  border: 20px solid #eaeff2;
}

/* Step 13 */
#moonspot1 {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    float:right;
    margin: 20px;
}

.visible {
    background-color: #eaeff2;
}
