/* Responsive Full Background Image Using CSS */

body {
  /* Location of the image */
  background-image: url(images/accomplishment-achievement-adult.jpg);

  /* Image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Image doesn't repeat */
  background-repeat: no-repeat;

  /* Makes the image fixed in the viewport so that it doesn't move when
     the content height is greater than the image height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;

  /* background color will be displayed while the background image is loading */
  background-color:#464646;
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
  body {
    /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
    background-image: url(images/accomplishment-smaller.jpg);
  }
}
