


body {
background-color: #0097B2;
color: white;


}

h1, h2{

max-width:400px;
margin:auto;
margin-bottom:8px;
margin-top:10px;
color: #0A5866;
padding-bottom:4px;
}

h2{
margin-top: 15px;
margin-bottom:8px;
font-style:italic;
padding-bottom:4px;
}

h3{
  margin:auto;
  width:40%;
margin-bottom:8px;
  margin-top:10px;
  color: #0A5866;
  padding-bottom:4px;

}

h4{
  margin:auto;
  width:40%;
margin-bottom:8px;
  margin-top:10px;
  color: #0A5866;
  padding-bottom:4px;
}


h1, h2{

  border-width: 0px 0px 1px 0px;
  border-color: white;
  border-style:solid;
  border-image: linear-gradient(to left, #0097B2 0%, #ffffff 80%);
        border-image-slice: 1;
        padding-bottom:4px;
}

a{

font-style:normal;
color:#FFE819;
text-decoration: none;


}

h1, h2, h3, h4, h5 {
width: 100px;
  -webkit-transition: width 2s;
    transition: width 2s;

}

h1:hover {

width:1000px;
}

h2:hover {

width:1000px;
}
h3:hover {

width:400px;
}
h4:hover {

width:400px;
}


a:hover{
font-style:italic;
color: white;

}


p{
max-width: 500px;
margin:auto;
padding-bottom:15px;

}

li{
  max-width: 500px;
  margin:auto;
  padding-bottom:15px;


}
