/* This is a comment in CSS */

/* There are many ways to specify sizes. If you use px, that is an exact size, so the font or element you are modifying will always be exactly that size. For fonts I like using rem and em, which are relative. 1rem means 100% of normal page text size. So 1.5rem means one and a half times bigger than a standard page font size. */
/* em is very similar, but it changes the font based on any previous style font size that came before in the css */

body {
    font-family: sans-serif;
    font-size: 1.2rem;  /* I like my fonts a little bigger than normal */
    line-height: 1.65em;
    max-width: 38em; /* This helps center my text */
    margin: auto;
    color: #4a4a4a;
    padding: 13px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}

/* The following are added css in case someone is viewing on a tablet or phone */

/* If the screen is 684 pixels wide or less, change font size to 1.5 times normal */

@media (max-width: 684px) {
  body {
    font-size: 1.5rem;
  }
}

/* If the screen is 382 pixels wide or less, you must be on a phone, so change the body to specify a font size even smaller - 1.3 times */

@media (max-width: 382px) {
  body {
    font-size: 1.3rem;
  }
}
